<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bloducspauter.category.mapper.TagStatisticsMapper">
    <resultMap id="tagStatisticsResultMap" type="com.bloducspauter.category.mapper.TagStatisticsMapper">
        <id property="tagNamt" column="tag_name" />
        <result property="tagCount" column="tag_count" />
    </resultMap>
<!--    根据blog的数量,统计出现次数最多的标签名-->
<select id="getTagStatistics" resultType="com.bloducspauter.bean.statistics.TagStatistics">
    SELECT t.name AS tag_name, COUNT(*) AS tag_count
    FROM blog b
             JOIN tag_relation tr ON b.blog_id = tr.blog_id
             JOIN tag t ON tr.tag_id = t.tag_id
    WHERE tr.deleted=0
    GROUP BY t.name
    ORDER BY tag_count DESC;
</select>
</mapper>